<!DOCTYPE html>
<html>
  <head>
    <title>Pheedly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/flaticon.scss">
    <script type="text/javascript">
      window.feedly = "<%= image_url('feedly-sample.png') %>";
    </script>
    <script type="text/javascript">
      window.feedlyLogo = "<%= image_url('logo-green.png') %>";
    </script>
    <script type="text/javascript">
      window.bookmark = "<%= image_url('bookmark.png') %>";
      window.all = "<%= image_url('menu-1.png') %>";
      window.today = "<%= image_url('time.png') %>";
      window.train = "<%= image_url('more-2.png') %>";
    </script>
    <script type="text/javascript">
      window.gnews = "<%= Rails.application.credentials.gnews[:api_key] %>";
    </script>
    <script type="text/javascript">
      window.newsapi = "<%= Rails.application.credentials.newsapi[:api_key] %>";
    </script>
    <script type="text/javascript">
      window.bing = "<%= Rails.application.credentials.bing[:api_key] %>";
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
